body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html{
  margin: 0;
  min-height: 100%;
  margin-bottom: 0%;
}

strong{
  font-size: 1.2em;
  font-weight: bold;
  color: #eabe6a;
}

.name {
  font-size: 2em;
} 

.hero_text {
  margin-top: 7%;
  margin-left: 5%;
  max-width: fit-content;
}

.landing {
  display: flex;
  flex-direction: column;
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-left: 7%;
  max-width: 50%;
}

.landing-text{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-left: 7%;
  max-width: 80%;
  max-height: 40%;
}

.landing-image{
  margin-left: 10%;
  align-content: baseline;
  scale: 1.3;
  margin-top: 13.5%;
  position: fixed;
  bottom: 0;
  right: 15%;
  scale: 2;
}

.home-page{
  margin-bottom: 0%;
  padding-bottom: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80%;
}
