nav{
  margin: 0%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  background-color: #1e1e24;
  padding: 1.5%;
}
nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 1.5em;
}
nav li {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
}

nav li a:hover {
  color: #c09c59;
  transition: color 0.5s ease;
}
