.card {
  padding: 2em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
}
nav li {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
}

name {
  font-size: 2em;
} 
