body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html{
  margin: 0;
  max-height: 100%;
  margin-bottom: 0%;
}

nav{
  margin: 0%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  background-color: #1e1e24;
  padding: 1.5%;
}

strong{
  font-size: 1.2em;
  font-weight: bold;
  color: #eabe6a;
}

nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 1.5em;
}
nav li {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
}

.name {
  font-size: 2em;
} 

.hero_text {
  margin-top: 7%;
  margin-left: 5%;
  max-width: fit-content;
}

.landing {
  display: flex;
  flex-direction: column;
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-left: 7%;
  max-width: 50%;
}

.landing-text{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-left: 7%;
  max-width: 80%;
  max-height: 40%;
}

.landing-image{
  margin-left: 10%;
  max-width: 40%;
  align-content: baseline;
  min-height: 80%;
  scale: 1.3;
  margin-top: 13.5%;
}

.home-page{
  margin-bottom: 0%;
  padding-bottom: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 80%;
}
