body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html{
  margin: 0;
}

nav{
  margin: 0%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  background-color: #1e1e24;
  padding: 1.5%;
}

nav ul {
  margin: 0;

  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
nav li {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
}

.name {
  font-size: 2em;
} 

.hero_text {
  margin-top: 7%;
  margin-left: 5%;
}

.landing{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 7%;
  max-width: 40%;
}
